div {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

p {
    color: #777;
}

button {
    background-color: #FF4500;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

button:hover {
    background-color: #FF6347
}